In [1]:
import pandas as mypd
from sklearn import tree
from sklearn.cross_validation import train_test_split

/Users/harisuriya/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
mydata = mypd.read_csv("/Users/harisuriya/Desktop/mlworkshop/Data/bank-data.csv")

In [3]:
mydata

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,48,1,0,17546.00,0,1,0,0,0,0,1
1,40,0,3,30085.10,1,3,1,0,1,1,0
2,51,1,0,16575.40,1,0,1,1,1,0,0
3,23,1,3,20375.40,1,3,0,0,1,0,0
4,57,1,1,50576.30,1,0,0,1,0,0,0
5,57,1,3,37869.60,1,2,0,1,1,0,1
6,22,0,1,8877.07,0,0,0,0,1,0,1
7,58,0,3,24946.60,1,0,1,1,1,0,0
8,37,1,2,25304.30,1,2,1,0,0,0,0
9,54,0,3,24212.10,1,2,1,1,1,0,0
10,66,1,3,59803.90,1,0,0,1,1,0,0
11,52,1,0,26658.80,0,0,1,1,1,1,0
12,44,1,3,15735.80,1,1,0,1,1,1,1
13,66,1,3,55204.70,1,1,1,1,1,1,1
14,36,0,1,19474.60,1,0,0,1,1,1,0
15,38,1,0,22342.10,1,0,1,1,1,1,0
16,37,1,3,17729.80,1,2,0,0,0,1,0
17,46,1,2,41016.00,1,0,0,1,0,1,0
18,62,1,0,26909.20,1,0,0,1,0,0,1
19,31,0,3,22522.80,1,0,1,1,1,0,0
20,61,0,0,57880.70,1,2,0,1,0,0,1
21,50,0,3,16497.30,1,2,0,1,1,0,0
22,54,0,0,38446.60,1,0,0,1,1,0,0
23,27,1,3,15538.80,0,0,1,1,1,1,0
24,22,0,0,12640.30,0,2,1,1,1,0,0
25,56,0,0,41034.00,1,0,1,1,1,1,0
26,45,0,0,20809.70,1,0,0,1,1,1,0
27,39,1,3,20114.00,1,1,0,0,1,0,1
28,39,1,0,29359.10,0,3,1,0,1,1,0
29,61,0,1,24270.10,1,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
570,49,1,1,33665.50,0,3,1,0,1,0,0
571,40,0,0,36166.20,1,0,0,0,0,0,0
572,33,1,2,27712.90,0,2,0,1,1,0,1
573,39,0,3,22400.70,1,2,1,1,1,0,0
574,43,1,0,28469.90,1,0,1,1,1,0,0
575,37,0,3,30488.00,1,0,0,1,1,1,0
576,24,1,3,19160.30,1,1,1,1,1,0,1
577,62,0,3,45342.50,1,0,1,1,0,0,1
578,18,0,0,6294.21,0,0,0,1,1,1,0
579,47,1,3,25127.70,1,0,1,0,0,0,0
580,63,0,2,51879.30,1,2,1,1,0,1,1
581,20,0,3,12644.90,1,2,1,0,1,1,0
582,46,1,3,21984.40,0,3,0,1,0,0,0
583,47,1,1,29093.10,0,2,1,1,1,0,0
584,33,0,3,23528.40,1,1,0,1,1,1,1
585,20,0,3,9516.91,0,3,1,1,1,0,0
586,20,0,0,18364.90,1,1,0,0,1,0,1
587,43,1,3,31273.80,0,1,1,1,0,0,1
588,58,0,1,49673.60,1,0,0,1,1,0,0
589,29,0,2,12623.40,1,1,1,1,1,0,0
590,25,0,0,23818.60,1,0,0,0,0,0,0
591,40,1,0,31473.90,0,2,0,1,1,1,1
592,48,0,3,20268.00,1,0,0,1,1,0,0
593,65,0,2,51417.00,1,2,0,1,1,0,1
594,59,1,1,30971.80,1,3,1,1,1,1,0
595,61,1,0,47025.00,0,2,1,1,1,1,0
596,30,1,0,9672.25,1,0,1,1,1,0,0
597,31,1,3,15976.30,1,0,1,1,0,0,1
598,29,0,0,14711.80,1,0,0,1,0,1,0
599,38,0,3,26671.60,0,0,1,0,1,1,1

In [4]:
x = mydata.values[:, 0:9]
y = mydata.values[:, 10]

In [5]:
x

array([[ 48.,   1.,   0., ...,   0.,   0.,   0.],
       [ 40.,   0.,   3., ...,   1.,   0.,   1.],
       [ 51.,   1.,   0., ...,   1.,   1.,   1.],
       ...,
       [ 31.,   1.,   3., ...,   1.,   1.,   0.],
       [ 29.,   0.,   0., ...,   0.,   1.,   0.],
       [ 38.,   0.,   3., ...,   1.,   0.,   1.]])

In [6]:
y

array([ 1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,
        1.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,
        0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,
        1.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,
        0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,
        0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,
        1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,
        0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  1.,
        0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,
        0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,
        0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,
        0.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,
        1.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,
        0.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,
        0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,
        0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,
        1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,
        1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,
        1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,
        1.,  1.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
        1.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  1.,
        0.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,
        1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,
        0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  1.,  0.,
        0.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,
        1.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,
        0.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  1.,
        0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,
        0.,  1.,  1.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,
        0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,
        1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,
        1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,
        0.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,
        1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,
        1.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,
        1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  1.,  1.,
        1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        1.,  1.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
        1.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,
        0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,  1.,
        0.,  1.])

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 100)

In [19]:
mymodel = tree.DecisionTreeClassifier(min_samples_split=50)
mymodel.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=50,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [9]:
mymodel.score(x_train, y_train)

0.83333333333333337

In [10]:
pred = mymodel.predict(x_train)

In [11]:
mytable = mypd.crosstab(y_train, pred)

In [12]:
mytable

col_0  0.0  1.0
row_0
0.0    232   30
1.0     50  168

In [13]:
pred = mymodel.predict(x_test)

In [14]:
mytable = mypd.crosstab(y_test, pred)

In [15]:
mytable

col_0  0.0  1.0
row_0
0.0     58    6
1.0     15   41

In [16]:
mymodel.score(x_test,y_test)

0.82499999999999996